<% if @users.blank? %>
<p>There are no users yet.</p>
<%else%>
<p>Here are the list of all users</p>
<ul>
<% @users.each do |user| %>
<li>
<div>
<h1><%= link_to user.name, user %></h1>
<p>Number of posts: <%= user.posts_counter %></p>
</div>
</li>
<% end %>
</ul>
<% end %>

